node_modules/
.env
insta-starter/CUMPLIMIENTO_REQUISITOS.md
insta-starter/CONFIGURAR_GOOGLE_OAUTH.md
insta-starter/CAMBIOS_SETTINGS_CAMERA.md
insta-starter/CHECKLIST_SETTINGS_CAMERA.md
insta-starter/FIX_IMAGEN_PERFIL.md
insta-starter/FIX_PROFILE_IMAGE_FIELD.md
insta-starter/MEJORAS_IMPLEMENTADAS.md
insta-starter/RESUMEN_EJECUTIVO_19_OCT.md
insta-starter/backend/storage/profiles/68c0d35a5253e1f55d1620c2/profile_1760936780042.jpg
insta-starter/backend/storage/profiles/68c1720ef05e916c223b8636/profile_1760933460080.jpg
insta-starter/backend/storage/profiles/68c1720ef05e916c223b8636/profile_1760934203702.jpg
insta-starter/backend/storage/profiles/68c1720ef05e916c223b8636/profile_1760935685544.jpg
insta-starter/backend/storage/profiles/68c1720ef05e916c223b8636/profile_1760935979005.jpg
insta-starter/backend/storage/profiles/68c1720ef05e916c223b8636/profile_1760935993100.jpg
insta-starter/backend/storage/profiles/68c1720ef05e916c223b8636/profile_1760936161163.jpg
insta-starter/backend/storage/profiles/68f5bb3272d2f1da13fd925f/profile_1760934723362.jpg
insta-starter/backend/storage/profiles/68f5bb3272d2f1da13fd925f/profile_1760935120445.jpg
insta-starter/backend/storage/profiles/68f5bb3272d2f1da13fd925f/profile_1760935180082.jpg
insta-starter/backend/gcs-key.json
