# COPIAR a .env y rellenar valores reales
# Backend
PORT=3002
MONGO_URI=mongodb://localhost:27017/insta
JWT_SECRET=changeme-super-secret
SESSION_SECRET=another-secret
# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# reCAPTCHA
RECAPTCHA_SECRET=
# AWS
AWS_REGION=
S3_BUCKET=
# Frontend URL para CORS (opcional)
FRONTEND_URL=http://localhost:5173
# Optional: change API base for frontend (vite)
VITE_API=http://localhost:3002/api
